a,
#home-slider .caption h1 span, 
#twitter-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a  {
  color: #A1824E;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #A1824E
}

a:hover, a:focus {
	color: #A1824E;
}

.main-nav{
    background-color: #000000;
}
.service-icon, 
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.twitter-icon .fa-twitter, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover {
  background-color:#A1824E;
}

.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #A1824E;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #A1824E;
}

.twitter-icon .fa-twitter:after {
	border-color: #A1824E transparent transparent;
}
rez{
    color: #A1824E;
}

.rezation{
    position: absolute;
    margin-top: -50px;
    left: 48%;
}