body{
    background: #F96B4E;
}
#header, #secondpart,#thirdpart{
  height: 100vh;
}
#firstimage{
  margin-top: 20vh;
}
rez{
  color: #3a3b36;
  font-family: verdana;
  font-size: 17px;
  text-align: center;
}
#anchorpart{
  margin-top: 10vh;
  position: absolute;
  left: 42%;
}

#welcomeimage{
  padding-top: 3%;
  left: 2%;
}

#goimage {

}
#accountimage{
  padding-top:5%;
  padding-bottom: 2%;
  padding-left: 4%;
}

#formpage{
  margin-top: 5%;
  margin-bottom: 10%;

}
#formcontainer{
  margin: 20px;
  background: url("../elements/form.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 55vh;
}
form{
  position:absolute;
  left: 20%;
  margin: 2%;
}

@media (min-width:768px){
  #formcontainer{
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 20%;
    background: url("../elements/form.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
  }
  form{
    position:absolute;
    left: 39%;
    margin-top: 3%;
  }
  #thirdpart{
    height: 90vh;
  }
}

@media (min-width:360px){
  #welcomeimage, #secondimage, #goimage{
    padding-left: 10%;
  }
}
@media (min-width:1280px){

}
