@charset "UTF-8";
/* CSS Document */

#navigation{
	 opacity:70;
}

#firstcontainer{
	background:url(../resources/container1/container1.jpg);
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:480px;
	padding-top:0px; 
	margin-top:-20px;
}

#secondcontainer{
	background:url(../resources/container2/smallscreens/container2.jpg);
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:0px;
	margin:0px;
}

#oversecondcontainer{
	padding-top:30px;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,.4)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,.4)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,.4)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(233,236,229,1), rgba(216,216,216,.4));
	padding:0px;
	margin:0px;
   	}
#carouselheaders{
	margin-top:50px;
	margin-bottom:60px;
	text-align:center;
	vertical-align:middle;
}
#thirdcontainercarousels, #carouseltextfield, #thirdcontainer{
margin:0px;
padding:0px;
background:#E9ECE5;
}
#exteriorcontent, #interiorcontent, #commercialcontent{
	padding-left:60px;
	padding-right:60px;
}

#carouseltextpart{
	padding-top:25px;
}
#carouseldescription{margin-left:10px;}

#footercontainer{
	background:#3B3A36;
}

#quicklinks{
	padding:15px;
}

#footerbrand{
	margin-top:60px;}


@media (min-width:768px){
#firstcontainer{
	background:url(../resources/container1/container1.jpg);
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:720px;
	padding-top:0px; 
	margin-top:-20px;
}
#secondcontainer{
	background:url(../resources/container2/container2.jpg) no-repeat center center;
	height:702px;
	no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:0px;
	margin:0px;
}

#oversecondcontainer{
	padding-top:30px;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,0)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(233,236,229,1), rgba(216,216,216,0));
    height:702px;
	padding:0px;
	margin:0px;
	}
	
#interiorholder, #exteriorholder, #commercialholder{
	padding-top:30px;
	height:685px;
	border-right-width:1px;
	border-color:#FFFFFF;	
}
#exteriorcontent, #interiorcontent, #commercialcontent{
	padding-left:20px;
	padding-right:20px;
}
#carouselheaders{
	margin-top:0px;
	text-align:center;
	margin-right:0px;
	margin-left:0px;
	vertical-align:middle;
}

#footerbrand{
	margin-top:0px;
	}

}
