
  nav{
  margin-top: 50px;
}
logotext{
  font-family: 'Lobster', cursive;
  font-size: 36px;
}
body{
  background: #e9ece6;
}
h1, h2, h4, li, a{
    font-family: 'Lato',san-serif;
    font-weight: 300;
    text-align: center;
}

#heroheader h4{
  color: #3a3b36;
}



h3, h5{
  font-family: 'Lato',san-serif;
  font-weight: 400;
}
p {
    color: #3a3b36;
    font-family: 'Tienne',serif;
}
#firstcontainer{

    background-image:url('../living.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height:105vh;
    margin-top: -20px;

}
#brandname{
   position: absolute;
   top: 33%;
   /*left:40%;*/
}

#logotextcontainer{
}
#services{
   /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,.2)),url('../resources/container2/container2.jpg'); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,rgba(216,216,216,.2))),url('../resources/container2/container2.jpg'); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(233,236,229,1),rgba(216,216,216,.2)),url('../resources/container2/container2.jpg'); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(233,236,229,1), rgba(216,216,216,.2)),url('../resources/container2/container2.jpg');
    height: 100vh;

}
#interior, #exterior, #commercial{
   border-width: 20px;
   border-color: #3b3a36;
   padding:40px;
   padding-left:50px;
   padding-right:50px;

}

#arrow{
    margin-top: 40px;
}

hr{
  border-style: dotted;
    border-color:#e9ece5;
    background: #e9ece5;
}

#abouttopbg{
  background: url(../resources/about/abouttopcut.png);
  background-size: cover;
  background-repeat: no-repeat;

/*-moz-clip-path: polygon(100% 0, 0 0, 0 100%);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);*/
  height: 60vh;
  overflow: hidden;

  /**/
}

#AboutUsHeader{
  margin-top: 15%;

  padding:20px;
}

#AboutUsContent{
  padding: 30px;

}

#aboutbottombg{

  background: url(../resources/about/aboutbottomcut.png);
  background-size: cover;
  background-repeat: no-repeat;

  /*-webkit-clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(75% 0, 100% 0%, 100% 100%, 0 100%);*/
  height: 50vh;
}
#work{
  background: #3a3b36;
}
#workimage{
  background: url(../resources/work/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  height: 60vh;

}

#workstextarea{
  color: #e9ece5;
  text-align: center;
  margin-top: 60px;
  padding: 40px;
}

#thirdcontainer, #footerstrip{
    background: #3a3b36;
}

#herocontainer{
background: #e9ece6;
}


}
#herorow{
  /*display: table-row;*/
}
#herocarousel{
  /*display: table-cell;*/
}
#heroheader{
padding-top: 180px;
padding-right: 30px;
text-align: center;

}

#carouseltextfield{
padding-top: 150px;
padding-right: 30px;
text-align: center;
}

#carouseltextfield h4{
    color: #3a3b36;
    line-height: 20px;
}

#carouseltextfield p{
    padding-top: 10px;
}


.carousel{
  overflow:hidden;
  width: 100%;
}
#footerlogo{
  padding-top: 25px;
  padding-bottom: 20px;
}
#footerspace{
  font-size: 12px;
  background: #3a3b36;
  padding-top: 30px;
  padding-bottom: 20px;
}
#footerspace p{
  line-height: 9px;
  color: #e9ece6;
}
address{
  font-size: 12px;
  color: #e9ece6;
}
#mapcanvas{
  background: #3a3b36;

}
#footerspace h4{
  color: #e9ece6;
}


#mapcanvas h2{
  color: #e9ece6;
  padding: 40px;
}
rez{
  font-size: 12px;
  color: #e9ece6;
}
#quicklinks{
  padding: 30px;
  text-align: left;
}
#openingtimes h5{
  color:#e9ece6;
}

#openingtimes{
  padding: 30px;
  text-align: right;
}

quicklinks rez{
  font-size: 14px;
}

@media (min-width:768px;){
  #brandname{
     position: absolute;
     top: 33%;
     padding-right: 20px;
     right: 40%;
  }
}
